
	<header class="flex-1 rounded-4xl m-6 bg-white/50 overflow-visible p-4 w-screen h-max   pt-20 md:p-[66px] flex flex-col gap-4 md:gap-8  relative">
		<div class="flex flex-row justify-between items-center  ">
			<img src="/public/AboutMe/Frame2.svg" alt="picture frame" class="w-1/2  relative overflow-hidden"/>
		

		<div class="flex flex-col gap-6 w-1/2 h-full content-between  ">
			<div class=" h-32 bg-green rounded-[10px] text-light-green py-[19px] px-[30px]">
				<p class="text-[40px] font-['DeFonte_Reduced:Normale','Noto_Sans:Regular',sans-serif] uppercase text-right">Future Web Développeuse</p>
			</div>

			<img src="/public/AboutMe/Frame.svg" alt="name logo">
		</div>
		</div>

		<!-- Description Box -->
		<div class="mt-6 bg-[#173084] rounded-[10px] py-[19px] px-[30px]">
			<p class="text-[#9cdcfe] text-[40px] font-['DeFonte_Reduced:Normale','Noto_Sans:Regular',sans-serif] uppercase text-right">
				je suis passionné par le mutimédia, le cinéma<br>
				la musique et les art plastique...
			</p>
		</div>
	</header>

