<section class="flex flex-row">
<div id="container"></div>
  <template id="basicLayout">
    <slot></slot>
    <div>
      <slot></slot>
      <slot></slot>
    </div>
  </template>


  <!-- template 1 -->
   <template class="template1 component">
  <article>
    <h3 class="w-80 justify-start text-{{titleColor}} text-xl font-normal uppercase">
      {{projectTitle}} >>
    </h3>

    <div class="h-[579px] w-[569px]">
      <img src="{{imageProject}}" alt="{{projectTitle}}" />
      <object data="/public/Project/frameImacG3.svg" type="image/svg+xml"></object>

      <div class="w-[569px] h-20 bg-{{tagBgColor}}">
        <p
          class="mt-[47px] justify-start text-{{tagTextcolor}} text-xl font-normal uppercase"
        >
          {{tag}}
        </p>
      </div>
    </div>

    <p
      class="w-[565px] justify-start text-black text-xl font-normal font-['Encode_Sans_SC'] uppercase"
    >
      {{description}}
    </p>
  </article>
  </template>

  <!-- template 2 -->
   <template class="template2 component">
  <article class="flex flex-row">
    <div class="flex flex-col ">
      <div class="flex flex-row">
        <div class="rotate-90 bg-{{tagBgColor}}">
          <p class="justify-start text-{{tagTextcolor}} text-xl font-normal uppercase">{{tag}}</p>
        </div>
        <img src="{{imageProject}}" alt="{{projectTitle}}" />
    <object data="/public/Project/FrameMacintosh.svg" type="image/svg+xml"></object>
</div>
      <h3 class="text-{{titleColor}} text-xl font-normal uppercase">{{projectTitle}} >></h3>
    </div>
    <p class="text-black text-xl font-normal uppercase">{{description}}</p>
  </article>
</template>

<!-- template 3 -->
 <template class="template3 component">
<article>
	<div>
    <img src="{{imageProject}}" alt="{{projectTitle}}" />
	<div>
		<h3 class="text-pink text-xl font-normal uppercase">{{projectTitle}} >></h3>
		<p class="text-black text-xl font-normal uppercase">{{description}}</p>
	</div>
  </div>

	<div>
		<p>{{tag}}</p>
	</div>
</article>
</template>
</section>